h1 {
    margin: 20px;
    font-size: 48px;;
}
#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: larger;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

#casing {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: lightgray;
    max-width: 400px;
    margin: 50px;
    resize: none;
}

#keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    resize: none;
}

#screen {
    height: 10px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: papayawhip;
    text-align: right;
    padding: 25px;
    font-size: 25px;
    max-width: 380px;
}

#functions {
    display: flex;
}

.key, .funcKey{
    padding: 20px;
    margin: 5px;
    text-align: center;
    flex: 1;
    border: 1px solid black;
    border-radius: 4px;
    background-color: gray;
}

.funcKey {
    background-color: orange;
}

.op {
    background-color: palegoldenrod;
}